.DS_Store
/node_modules/
/packages/**/node_modules/
/packages/**/.nyc_output/
/packages/**/coverage/

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# lerna
lerna-debug.log

# npm yarn
yarn.lock

# Eslint
ESLintReport.html

