.m-aside {
    margin: 0;
    height: 100% !important;
    padding: 65px 0 0 0;
}

.m-summary {
    border-right: 1px solid #edf0f7;
    padding: 20px;
}

.m-header .m-header-title .name {
    margin-bottom: 0;
    margin-left: 10px;
}

.m-content-container {
    margin: 0;
    min-width: auto;
    max-width: none;
    padding: 30px 20px;
}

.markdown-body h2 {
    margin: 20px 0;
    padding-bottom: 0;
}

.m-main h2:before,
.m-main h3:before {
    margin: 0;
    height: 0;
}

.markdown-body .item-method-name:target .item-method-name-area {
    border-color: #1890ff;
}

.markdown-body .item-method-name .item-method-name-area {
    background-color: #eee;
    font-weight: 700;
    padding: 20px;
    border-left: 5px solid transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.markdown-body .item-method-name .item-method-name-area .anticon {
    cursor: pointer;
}

.markdown-body .item-method-content {
    padding: 20px 0;
    margin-top: 10px;
}

.markdown-body .item-method-content > pre {
    padding: 10px 15px;
    margin-bottom: 10px;
    line-height: 1.3;
    background-color: #eee;
}

/* anticon  */
.anticon {
    display: inline-block;
    color: inherit;
    font-style: normal;
    line-height: 0;
    text-align: center;
    text-transform: none;
    vertical-align: -0.125em;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.anticon > * {
    line-height: 1;
}

.anticon svg {
    display: inline-block;
}

.anticon::before {
    display: none;
}

.anticon .anticon-icon {
    display: block;
}

.anticon[tabindex] {
    cursor: pointer;
}

.ant-modal {
    top: 10px;
}
